$font-primary: 'Ubuntu', sans-serif;

html {
  overflow: hidden;
  box-sizing: border-box;
  font-size: 50%;
  @media (min-width: 600px) {
    font-size: 56.25%;
  }
  @media (min-width: 1024px) {
    font-size: 62.5%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  font-size: inherit;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
}
