@import '../styles/variables.scss';

.container {
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}

.form {
  &_label {
    display: block;
    margin: 8px 0;
    color: $primary-color;
  }
  &_input {
    padding: 8px;
    color: $primary-color;
    display: block;
    border: 0;
    border-bottom: 2px solid $primary-color;
    background: none;

    &:focus {
      outline: 0;
    }
  }
}

.button {
  background: none;
  color: $primary-color;
  padding: 4px;

  border: 1px solid $primary-color;
  transition: all 0.2s;

  &:focus {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
    color: black;
    background-color: $primary-color;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &__floatRight {
    float: right;
  }
}

.instructions {
  color: $primary-color;
  text-align: center;
  margin: 16px;
}
